<div *ngIf="!isLoading">
  <div class="row p-3">
    <div class="col-md-9">
      <h3 translate>All Clients:</h3>
    </div>
    <div class="col-md-3">
      <button class="btn btn-success" routerLink="/company/customers/create" translate>
        <i class="fa fa-plus m-2"></i>
        New Client
      </button>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <input type="text" class="form-control m-2" placeholder="{{'Search' | translate}}" [(ngModel)]="filters.search">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary m-2" (click)="searchCustomers()" translate>
        <i class="fa fa-search"></i>
        Search
      </button>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary m-2" (click)="showHideFilters()" translate>
        <i class="fa fa-filter"></i>
      </button>
    </div>
  </div>
  <div class="row px-5 py-3 mx-3 bg-lightgrey rounded bordered" *ngIf="isFiltersDisplayed" style="
    width: fit-content;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
    border: solid 1px #a8a8a8;">
    <div *ngIf="isLevel5Allowed" class="px-1">
      <h5><strong>{{currentUser.company.addressLevel5Name}}:</strong></h5>
      <select [(ngModel)]="filters.level5Address" class="form-control form-select" (change)="level5Selected()">
        <option *ngFor="let address of level5Addresses" [value]="address.id">{{address.name}}</option>
      </select>
    </div>
    <div *ngIf="isLevel4Allowed" class="px-1">
      <h5><strong>{{currentUser.company.addressLevel4Name}}:</strong></h5>
      <select [(ngModel)]="filters.level4Address" class="form-control form-select" [disabled]="!level4Addresses.length"
        (change)="level4Selected()">
        <option *ngFor="let address of level4Addresses" [value]="address.id">{{address.name}}</option>
      </select>
    </div>
    <div *ngIf="isLevel3Allowed" class="px-1">
      <h5><strong>{{currentUser.company.addressLevel3Name}}:</strong></h5>
      <select [(ngModel)]="filters.level3Address" class="form-control form-select" [disabled]="!level3Addresses.length"
        (change)="level3Selected()">
        <option *ngFor="let address of level3Addresses" [value]="address.id">{{address.name}}</option>
      </select>
    </div>
    <div *ngIf="isLevel2Allowed" class="px-1">
      <h5><strong>{{currentUser.company.addressLevel2Name}}:</strong></h5>
      <select [(ngModel)]="filters.level2Address" class="form-control form-select" [disabled]="!level2Addresses.length"
        (change)="level2Selected()">
        <option *ngFor="let address of level2Addresses" [value]="address.id">{{address.name}}</option>
      </select>
    </div>
    <div *ngIf="isLevel1Allowed" class="px-1">
      <h5><strong>{{currentUser.company.addressLevel1Name}}:</strong></h5>
      <select [(ngModel)]="filters.level1Address" class="form-control form-select" [disabled]="!level1Addresses.length">
        <option *ngFor="let address of level1Addresses" [value]="address.id">{{address.name}}</option>
      </select>
    </div>
    <div class="px-1">
      <h5><strong translate>Plans:</strong></h5>
      <select [(ngModel)]="filters.planId" class="form-control form-select">
        <option *ngFor="let plan of plans" [value]="plan.id">{{plan.name}}</option>
      </select>
    </div>
    <div class="px-1">
      <h5><strong translate>Employee:</strong></h5>
      <select [(ngModel)]="filters.employeeId" class="form-control form-select">
        <option *ngFor="let employee of employees" [value]="employee.id">{{employee.name}}</option>
      </select>
    </div>
    <div class=" px-2">
      <label for="startDate" translate><strong translate>Start Date:</strong></label>
      <input type="date" name="startDate" [(ngModel)]="filters.startDate" class="p-2 select rounded w-100 form-control"
        placeholder="Starting Date">
    </div>
    <div class="px-2">
      <label for="endDate" translate><strong translate>End Date:</strong></label>
      <input type="date" name="endDate" [(ngModel)]="filters.endDate" class="p-2 select rounded w-100 form-control"
        placeholder="End Date">
    </div>
    <button class="btn btn-primary mx-5 mt-3 p-2" style="height: 3em;" (click)="getPageRecords(1)">Filter</button>
  </div>
  <div *ngIf="customers.length">
    <!-- <div class="search-box ml-2">
      <button class="btn-search"><i class="fas fa-search"></i></button>
      <input type="text" class="input-search border" placeholder="Type to Search..." name="search" [(ngModel)]="search"
        style="background: #6f86d6; border-radius: 25px;">
    </div> -->

    <div class="table-container" style="display: block; overflow-x: auto;">
      <hr>
      <table class="table table-hover">
        <thead class="table-primary">
          <tr class="bg-info">
            <th (click)="sortCustomers('user.name')" translate>
              Name
              <i class="fa"
                [ngClass]="{'fa-sort': !filters.orderBy, 'fa-sort-asc': filters.orderBy === 'user.name', 'fa-sort-desc': filters.orderBy === '-user.name'}"></i>
            </th>
            <th (click)="sortCustomers('plans.name')" translate>
              Plans
              <i class="fa"
                [ngClass]="{'fa-sort': !filters.orderBy, 'fa-sort-asc': filters.orderBy === 'plans.name', 'fa-sort-desc': filters.orderBy === '-plans.name'}"></i>
            </th>
            <th translate>Payment Day</th>
            <th translate>Last Payment Date</th>
            <th (click)="sortCustomers('address.name')" translate>
              Address
              <i class="fa"
                [ngClass]="{'fa-sort': !filters.orderBy, 'fa-sort-asc': filters.orderBy === 'address.name', 'fa-sort-desc': filters.orderBy === '-address.name'}"></i>
            </th>
            <th translate>Phone Number</th>
            <th translate>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers; let i = index" [ngClass]="{
            'bg-linear-primary': customer.isActive,
            'bg-danger-light': !customer.isActive
        }" routerLink="/company/customers/{{customer.id}}">
            <td>{{customer.name}}</td>
            <td>
              <span *ngFor="let plan of customer.plans">
                {{plan.name}},
              </span>
            </td>
            <td>{{customer.paymentDate | date: 'dd'}}</td>
            <td>{{customer?.lastPaidInvoice?.collected_at | date: 'yyyy-MM-dd'}}</td>
            <td>{{ getAddressString(customer.address) }}</td>
            <td>{{customer.phoneNumber}}</td>
            <td>
              <abbr data-title="Edit Customer"><i class="fa fa-pen bg-white p-1 rounded m-1"
                  style="font-size: 22px!important;" routerLink="/company/customers/{{customer.id}}/edit"></i></abbr>
              <abbr data-title="Show Customer"><i class="fa fa-eye bg-white p-1 rounded m-1"
                  style="font-size: 21px!important;" routerLink="/company/customers/{{customer.id}}"></i></abbr>
              <abbr *ngIf="!customer.isActive" data-title="Enable Customer"
                (click)="openEnableDisableModal(customer.id, customer.name, customer.isActive)"><i
                  class="fa fa-check-circle bg-white p-1 rounded m-1" style="font-size: 21px!important;"></i></abbr>
              <abbr *ngIf="customer.isActive" data-title="Disable Customer"
                (click)="openEnableDisableModal(customer.id, customer.name, customer.isActive)"><i
                  class="fa fa-minus-circle bg-white p-1 rounded m-1" style="font-size: 21px!important;"></i></abbr>
            </td>
          </tr>

        </tbody>
      </table>
      <div class="row w-100">
        <div class="col-md-10">
          <ul class="pagination ">
            <li class="page-item" [ngClass]="{'active': i+1 == currentPage }"
              *ngFor='let in of counter(totalPages);let i = index' (click)="getPageRecords(i+1)">
              <a href="javascript:void(0);" class="page-link">{{i+1}}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          Total: {{totalRecords}}
        </div>
      </div>
    </div>

  </div>
  <div class="row m-5 p-5 alert-danger" *ngIf="!customers.length">
    <h3 class="col-md-12 px-5 center-elements"> No clients to show!</h3>
  </div>
</div>
