<section *ngIf="!isLoading" style="margin-bottom: 100px;">
  <h1 style="margin: 20px;" translate>Create Client</h1>
  <details (click)='detailsClicked()' #detailsElement>
    <summary>
      <div>
        <span style="background-color: #f2dcbb;">
          <i class="fa fa-user" style="font-size: 25px" aria-hidden="true"></i>
        </span>
        <h3 style="font-size: 1rem;">
          <strong translate>User Details</strong>
          <!-- <small>Clothes & Fashion</small> -->
        </h3>
        <span class="px-5 text-danger" *ngIf="detailsIsOpen"><i class="fa fa-minus" aria-hidden="true"></i></span>
        <span class="px-5 text-success" *ngIf="!detailsIsOpen"> <i class="fa fa-plus" aria-hidden="true"></i> </span>
      </div>
    </summary>
    <div>
      <div class="form-group">
        <label for="name" class="required" translate>Name:</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="Name"
          [(ngModel)]="data.name">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
      <!-- <div class="form-group">
        <label for="email" translate>Email:</label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="helpId"
          placeholder="ex: user@gmail.com" [(ngModel)]="data.email">
         <small id="helpId" class="form-text text-muted">Help text</small>
      </div> -->
      <div class="form-group">
        <label for="phone" class="required" translate>Phone Number:</label>
        <input type="text" class="form-control" name="phone" id="phone" aria-describedby="helpId"
          placeholder="ex: +96103456789" required [(ngModel)]="data.phoneNumber">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
      <div class="form-group">
        <label for="paymentDate" translate>Payment Date:</label>
        <input type="date" class="form-control" name="paymentDate" id="paymentDate" aria-describedby="helpId"
          [(ngModel)]="data.paymentDate" required>
        <script type="text/javascript">
          $('#paymentDate').datetimepicker({
            format: 'YYYY-MM-DD',
            useCurrent: true,
            sideBySide: true
          })
        </script>
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
      <div class="form-group" *ngIf="authService.currentUser.role == 'ADMIN' || authService.currentUser.role == 'MANAGER' "
        translate>
        Collector:
        <select [(ngModel)]="data.collector_id" class="form-control">
          <option *ngFor="let collector of collectors" [value]="collector.id">{{collector.name}}</option>
        </select>
      </div>
    </div>
  </details>
  <details (click)='addressClicked()' #addressElement>
    <summary>
      <div>
        <span>
          <i class="fa fa-home" style="font-size: 25px!important;" aria-hidden="true"></i>
        </span>
        <h3 style="font-size: 1rem;">
          <strong translate>Address</strong>
          <!-- <small>Gift</small> -->
        </h3>
        <span class="px-5 text-danger" *ngIf="addressIsOpen"><i class="fa fa-minus" aria-hidden="true"></i></span>
        <span class="px-5 text-success" *ngIf="!addressIsOpen"> <i class="fa fa-plus" aria-hidden="true"></i> </span>
      </div>
    </summary>
    <div *ngIf="isLevel5Allowed">
      <h5><strong>{{currentCompany.addressLevel5Name}}:</strong></h5>
      <select [(ngModel)]="selectedLevel5Id" class="form-control form-select" (change)="level5Selected()">
        <option *ngFor="let address of level5Addresses" [value]="address.id">{{address.name}}</option>
      </select>
    </div>
    <div *ngIf="isLevel4Allowed">
      <h5><strong>{{currentCompany.addressLevel4Name}}:</strong></h5>
      <select [(ngModel)]="selectedLevel4Id" class="form-control form-select" [disabled]="!level4Addresses.length"
        (change)="level4Selected()">
        <option *ngFor="let address of level4Addresses" [value]="address.id">{{address.name}}</option>
      </select>
    </div>
    <div *ngIf="isLevel3Allowed">
      <h5><strong>{{currentCompany.addressLevel3Name}}:</strong></h5>
      <select [(ngModel)]="selectedLevel3Id" class="form-control form-select" [disabled]="!level3Addresses.length"
        (change)="level3Selected()">
        <option *ngFor="let address of level3Addresses" [value]="address.id">{{address.name}}</option>
      </select>
    </div>
    <div *ngIf="isLevel2Allowed">
      <h5><strong>{{currentCompany.addressLevel2Name}}:</strong></h5>
      <select [(ngModel)]="selectedLevel2Id" class="form-control form-select" [disabled]="!level2Addresses.length"
        (change)="level2Selected()">
        <option *ngFor="let address of level2Addresses" [value]="address.id">{{address.name}}</option>
      </select>
    </div>
    <div *ngIf="isLevel1Allowed">
      <h5><strong>{{currentCompany.addressLevel1Name}}:</strong></h5>
      <select [(ngModel)]="data.address_id" class="form-control form-select" [disabled]="!level1Addresses.length">
        <option *ngFor="let address of level1Addresses" [value]="address.id">{{address.name}}</option>
      </select>
    </div>
  </details>
  <details (click)='planClicked()' #planElement>
    <summary>
      <div>
        <span style="background-color: #e0ece4;">
          <i class="fas fa-network-wired" style="font-size: 25px!important;" aria-hidden="true"></i>
        </span>
        <h3 style="font-size: 1rem;">
          <strong translate>Plans</strong>
          <!-- <small>Food & Beverage</small> -->
        </h3>
        <span class="px-5 text-danger" *ngIf="plansIsOpen"><i class="fa fa-minus" aria-hidden="true"></i></span>
        <span class="px-5 text-success" *ngIf="!plansIsOpen"> <i class="fa fa-plus" aria-hidden="true"></i> </span>
      </div>
    </summary>
    <div class="m-5" translate>
      Plan:
      <ng-multiselect-dropdown [placeholder]="'Choose plan'" [settings]="dropdownSettings" [data]="dropdownList"
        [(ngModel)]="selectedPlans">
      </ng-multiselect-dropdown>
    </div>

    <div *ngIf="selectedPlans.length > 0" class="m-3">
      <h4 translate>Fill Invoice:</h4>
      <div class="row form-group m-4">
        <label class="col-md-12" translate>Total amount:</label>
        <!-- <span id="rangeValue">{{data.invoice_total}}</span> -->
        <input class="range col-md-8 mx-3" type="range" name="range" min="0" max="300" step="1"
          [(ngModel)]="data.invoice_total">
          <input type="number" class="form-control required col-md-2" name="totalAmount" required [(ngModel)]="data.invoice_total" readonly>

      </div>
      <div class="form-label-group m-4">
        <label translate>Additional Notes:</label>
        <input type="text" class="form-control required" required name="notes" [(ngModel)]="data.invoice_notes">
      </div>
    </div>

  </details>
  <button class="btn btn-primary bg-linear-primary center-elements mx-auto my-5" style="width: 70%;" (click)="store()"
    [disabled]="isStoreLoading">
    <span *ngIf="!isStoreLoading" translate>Add Client</span>
    <span *ngIf="isStoreLoading"><img src="{{loadingGif}}" width="20px"></span>
  </button>
</section>
