<div class="container">
  <div class="card">
    <div class="card-body">
      <div id="invoice">

        <div class="invoice overflow-auto">
          <div style="min-width: 600px">
            <header>
              <div class="row">
                <div class="col">
                  <a href="javascript:;">
                    <img src="assets/images/logo-icon.png" width="80" alt="">
                  </a>
                </div>

              </div>
            </header>
            <main>
              <div class="row contacts">
                <div class="col invoice-to">
                  <div class="text-gray-light">INVOICE TO:</div>
                  <h2 class="to">{{invoice.user.name}}</h2>
                  <div class="address">{{ getAddressString(invoice.user.address) }}</div>
                  <div class="email"><a href="mailto:{{invoice.user.email}}">{{invoice.user.email}}</a></div>
                  <div class="email">{{invoice.user.phoneNumber}}</div>
                </div>
                <div class="col invoice-details">
                  <h1 class="invoice-id">INVOICE: {{invoice.id}}</h1>
                  <div class="date">Date of Invoice: {{ invoice.created_at | date: 'yyyy-MM-dd' }}</div>
                  <div class="date">Due Date: {{ invoice.dueDate | date: 'yyyy-MM-dd' }}</div>
                </div>
              </div>
              <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th class="text-left">DESCRIPTION</th>
                    <th class="text-right">PRICE</th>
                    <th class="text-right">QTY</th>
                    <th class="text-right">TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let plan of invoice.plans">
                    <td class="no">{{plan.id}}</td>
                    <td class="text-left">
                      <h3>
                        <a target="_blank" href="javascript:;">
                          {{plan.name}}
                        </a>
                      </h3>
                      <!-- <a target="_blank" href="javascript:;">
                        Useful videos
                      </a> to improve your Javascript skills. Subscribe and stay tuned :) -->
                    </td>
                    <td class="unit">{{plan.price}}</td>
                    <td class="qty">1</td>
                    <td class="total">{{plan.price}}</td>
                  </tr>
                <tbody>
                  <tr *ngFor="let item of invoice.items">
                    <td class="no">{{item.id}}</td>
                    <td class="text-left">
                      <h3>
                        <a target="_blank" href="javascript:;">
                          {{item.name}}
                        </a>
                      </h3>
                    </td>
                    <td class="unit">{{item.price}}</td>
                    <td class="qty">1</td>
                    <td class="total">{{item.price}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <!-- <tr>
                    <td colspan="2"></td>
                    <td colspan="2">SUBTOTAL</td>
                    <td>{{invoice.total}}</td>
                  </tr> -->
                  <tr>
                    <td colspan="2"></td>
                    <td colspan="2">Extra Amount:</td>
                    <td>{{ invoice.extraAmount }}</td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td colspan="2">GRAND TOTAL</td>
                    <td>{{invoice.total}}</td>
                  </tr>
                </tfoot>
              </table>
              <div class="thanks">Thank you!</div>
              <div class="notices" *ngIf='invoice.notes'>
                <div>Note:</div>
                <div class="notice">{{invoice.notes}}</div>
              </div>
            </main>
            <footer>Invoice was created on a computer and is valid without the signature and seal.</footer>
          </div>
          <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
          <div></div>
        </div>
        <div class="toolbar hidden-print">
          <div class="text-end">
            <button type="button" class="btn btn-dark"><i class="fa fa-print"></i> Print</button>
            <button type="button" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
