<div class="card card-signin my-5" style="border: 0; margin: 0!important;">
  <div class="card-body">
    <h2 class="card-title text-center"><span translate> Add </span> {{currentCompany.addressLevel1Name}} </h2>
    <form class="form-signin" (ngSubmit)="store()">
      <div class="form-label-group m-4" *ngIf="!isMaxLevel">
        <div *ngIf="isLevel5Allowed">
          <h5><strong>{{currentCompany.addressLevel5Name}}:</strong></h5>
          <select [(ngModel)]="selectedLevel5Id" class="form-control form-select" (change)="level5Selected()"
            [disabled]="!level5Addresses.length">
            <option *ngFor="let address of level5Addresses" [value]="address.id">{{address.name}}</option>
          </select>
        </div>
        <div *ngIf="isLevel4Allowed">
          <h5><strong>{{currentCompany.addressLevel4Name}}:</strong></h5>
          <select [(ngModel)]="selectedLevel4Id" class="form-control form-select" (change)="level4Selected()"
            [disabled]="!level4Addresses.length">
            <option *ngFor="let address of level4Addresses" [value]="address.id">{{address.name}}</option>
          </select>
        </div>
        <div *ngIf="isLevel3Allowed">
          <div>{{currentCompany.addressLevel3Name}}: </div>
          <select class="form-control" [(ngModel)]="selectedLevel3Id" name="level3" (change)="level3Selected()"
            [disabled]="!level3Addresses.length">
            <option class="form-control option" *ngFor="let level of level3Addresses" [value]="level.id">{{level.name}}
            </option>
          </select>
        </div>
        <div *ngIf="isLevel2Allowed">
          <div>{{currentCompany.addressLevel2Name}}: </div>
          <select class="form-control" [(ngModel)]="selectedLevel2Id" name="level2" (change)="level2Selected()"
            [disabled]="!level2Addresses.length">
            <option class="form-control option" *ngFor="let level of level2Addresses" [value]="level.id">{{level.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-label-group m-4">
        <input type="text" name="name" id="name" [(ngModel)]="name" class="form-control common-input px-3"
          placeholder="Name" required autofocus />
      </div>
      <div class="form-label-group m-4">
        <button class="btn btn-lg btn-primary btn-block form-control text-uppercase" [disabled]="isStoreLoading">
          <span *ngIf="!isStoreLoading" translate>Save</span>
          <img src="{{ loadingGif }}" *ngIf="isStoreLoading" width="20px" />
        </button>
      </div>
    </form>
  </div>
</div>

<div class="container" *ngIf="!isLoading">
  <div *ngIf="addresses.length">
    <ul class="list-group m-5">
      <div *ngFor="let address of addresses; let i = index">
        <li class="list-group-item d-flex justify-content-between align-items-center bg-linear-primary">
          <div class="row mx-2">
            {{address.name}}
            <!-- <span *ngIf="address.parent" class="mx-3">
              - {{address.parent.name}}
            </span> -->
          </div>
          <div class="badge">
            <i class="fa fa-pen bg-white text-black p-1 rounded m-1" style="font-size: 22px!important;"
              (click)="openEditAddressModal(address.id)"></i>
            <i class="fa fa-minus-circle bg-white text-black p-1 rounded m-1" style="font-size: 21px!important;"
              (click)="openDeleteModal(address.id, address.name)"></i>
          </div>
        </li>
      </div>
    </ul>
  </div>
  <div class="row m-5 p-5 alert-danger" *ngIf="!addresses.length">
    <h3 class="col-md-12 px-5 center-elements"> No addresses available!</h3>
  </div>
</div>
