<div *ngIf="!isLoading">
  <div class="row p-3">
    <div class="col-md-9">
      <h3>All items:</h3>
    </div>
    <div class="col-md-3">
      <button class="btn btn-success" routerLink="/company/items/create">Add New item</button>
    </div>
  </div>

  <div *ngIf="items.length">
    <div class="search-box ml-2">
      <button class="btn-search"><i class="fas fa-search"></i></button>
      <input type="text" class="input-search border" placeholder="Type to Search..." name="search" [(ngModel)]="search"
        style="background: #6f86d6; border-radius: 25px;">
    </div>

    <ul class="list-group m-5">
      <div *ngFor="let item of items | filter: search; let i = index">
        <li class="list-group-item d-flex justify-content-between align-items-center m-1" [ngClass]="{
          'bg-linear-primary': item.isActive,
          'bg-danger-light': !item.isActive
        }">
          {{item.name}}
          <div class="badge ">
            <i class="fa fa-pen bg-white p-1 rounded m-1" style="font-size: 22px!important;"
              (click)="openEditItemModal(item)"></i>
            <i *ngIf="!item.isActive" class="fa fa-check-circle bg-white p-1 rounded m-1"
              style="font-size: 21px!important;" (click)="updateStatus(item, true)"></i>
            <i *ngIf="item.isActive" class="fa fa-minus-circle bg-white p-1 rounded m-1"
              style="font-size: 21px!important;" (click)="updateStatus(item, false)"></i>
          </div>
        </li>
      </div>
    </ul>
  </div>
  <div class="row m-5 p-5 alert-danger" *ngIf="!items.length">
    <h3 class="col-md-12 px-5 center-elements"> No items available!</h3>
  </div>
</div>
