<!-- <div class="modal-header">
  <h4 class="modal-title">Filter</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<div class="modal-body">
  <div class="search-form-container">
    <div class="search-bar-section center-elements">
      <label for="search" translate>Search:</label>
      <input class="form-control" type="search" placeholder="Search" style="border: 1px solid grey!important;"
        [(ngModel)]="search" name="search" id="locality">
    </div>
    <div class="row">
      <div class="col-sm-6 p-3">
        <label for="startDate" translate>Start Date:</label>
        <input type="date" name="startDate" [(ngModel)]="startDateFilter"
          class="bg-linear-primary p-2 select rounded w-100 form-control" style="background-image: linear-gradient(
            to right,
            rgb(72, 197, 239, 50%) 0%,
            rgb(111, 134, 214, 50%) 100%
          )!important;
          ;
          padding: 12px!important;
          " placeholder="Starting Date">
      </div>
      <div class="col-sm-6 p-3">
        <label for="endDate" translate>End Date:</label>
        <input type="date" name="endDate" [(ngModel)]="endDateFilter"
          class="bg-linear-primary p-2 select rounded w-100 form-control" style="background-image: linear-gradient(
            to right,
            rgb(72, 197, 239, 50%) 0%,
            rgb(111, 134, 214, 50%) 100%
          )!important;
          ;
          padding: 12px!important;
          " placeholder="Starting Date">
      </div>
      <div *ngIf="isLevel5Allowed" class="col-sm-6 p-3">
        <h5><strong>{{currentUser.company.addressLevel5Name}}:</strong></h5>
        <select [(ngModel)]="level5Address" class="form-control form-select" (change)="level5Selected()">
          <option *ngFor="let address of level5Addresses" [value]="address.id">{{address.name}}</option>
        </select>
      </div>
      <div *ngIf="isLevel4Allowed" class="col-sm-6 p-3">
        <h5><strong>{{currentUser.company.addressLevel4Name}}:</strong></h5>
        <select [(ngModel)]="level4Address" class="form-control form-select" [disabled]="!level4Addresses.length"
          (change)="level4Selected()">
          <option *ngFor="let address of level4Addresses" [value]="address.id">{{address.name}}</option>
        </select>
      </div>
      <div *ngIf="isLevel3Allowed" class="col-sm-6 p-3">
        <h5><strong>{{currentUser.company.addressLevel3Name}}:</strong></h5>
        <select [(ngModel)]="level3Address" class="form-control form-select" [disabled]="!level3Addresses.length"
          (change)="level3Selected()">
          <option *ngFor="let address of level3Addresses" [value]="address.id">{{address.name}}</option>
        </select>
      </div>
      <div *ngIf="isLevel2Allowed" class="col-sm-6 p-3">
        <h5><strong>{{currentUser.company.addressLevel2Name}}:</strong></h5>
        <select [(ngModel)]="level2Address" class="form-control form-select" [disabled]="!level2Addresses.length"
          (change)="level2Selected()">
          <option *ngFor="let address of level2Addresses" [value]="address.id">{{address.name}}</option>
        </select>
      </div>
      <div *ngIf="isLevel1Allowed" class="col-sm-6 p-3">
        <h5><strong>{{currentUser.company.addressLevel1Name}}:</strong></h5>
        <select [(ngModel)]="level1Address" class="form-control form-select" [disabled]="!level1Addresses.length">
          <option *ngFor="let address of level1Addresses" [value]="address.id">{{address.name}}</option>
        </select>
      </div>
      <div class="col-sm-6 p-3" *ngIf="[UserRole.ADMIN, UserRole.MANAGER].includes(currentUser.role)">
        <label for="employee" translate>Filter by employee:</label>
        <select name="employee" class="form-control w-100" placeholder="Select Employee" [(ngModel)]="selectedEmployee">
          <option value disabled hidden translate>Select Employee</option>
          <ng-container *ngFor="let employee of employees">
            <option *ngIf="employee.role != UserRole.ADMIN" [value]="employee.id">{{employee.name}}
            </option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-6 p-3" *ngIf="showPlansFilter">
        <label for="plan" translate>Filter by plan:</label>
        <select name="plan" [(ngModel)]="selectedPlan" class=" form-control w-100">
          <option value disabled hidden translate>Select Plan</option>
          <ng-container *ngFor="let plan of plans">
            <option *ngIf="plan.isActive" [value]="plan.id">{{plan.name}}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-6 p-3" *ngIf="showIsPaidFilter">
        <label for="plan" translate>Is Paid:</label>
        <select name="plan" [(ngModel)]="isPaid" class=" form-control w-100">
          <option value disabled hidden translate></option>
          <option value="true" translate>True</option>
          <option value="false" translate>False</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
      <button class="btn btn-info m-2" (click)="clearFilters()" translate>
        Clear Filters
      </button>
      <button type="button" class="btn btn-outline-dark m-2" (click)="activeModal.dismiss(false)"
        translate>Close</button>
      <button type="button" class="btn btn-primary m-2" (click)="onSearch()" translate>Search</button>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
</div> -->
