<div class="card card-signin my-5" style="border: 0; margin: 0!important;" *ngIf="!isLoading">
  <div class="card-body">
    <h2 class="card-title text-center" translate>Add a new item</h2>
    <form class="form-signin" (ngSubmit)="store()">
      <div class="form-label-group m-4">
        <input type="text" name="name" id="name" [(ngModel)]="item.name" class="form-control common-input px-3"
          placeholder="Name" required autofocus />
      </div>


      <div class="form-label-group m-4">
        <input type="number" name="price" id="price" [(ngModel)]="item.price"
          class="form-control common-input px-3" placeholder="Price" required autofocus min="0" />
      </div>

      <div class="form-label-group m-4">
        <input type="number" name="quantity" id="quantity" [(ngModel)]="item.quantity"
          class="form-control common-input px-3" placeholder="Quantity" required autofocus min="0" />
      </div>

      <div class="form-label-group m-4">
        <button class="btn btn-lg btn-primary btn-block form-control text-uppercase" [disabled]="isStoreLoading">
          <span *ngIf="!isStoreLoading" translate>Add item</span>
          <img src="{{ loadingGif }}" *ngIf="isStoreLoading" width="20px" />
        </button>
      </div>
    </form>
  </div>
</div>
