<div class="modal-header">
  <h4 class="modal-title" translate>Change Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12 m-2"><strong class="required" translate>Old Password:</strong>
      <input type="password" id="oldPassword" name="oldPassword" class="form-control" [(ngModel)]="oldPassword" />
    </div>
    <div class="col-sm-12 m-2"><strong class="required" translate>New Password:</strong>
      <input type="password" id="newPassword" name="newPassword" class="form-control" [(ngModel)]="newPassword" />
    </div>
    <div class="col-sm-12 m-2"><strong class="required" translate>Confirm Password:</strong>
      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
        [(ngModel)]="confirmPassword" />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="update()" [disabled]="isUpdateLoading">
    <span *ngIf="!isUpdateLoading"translate>Update</span>
    <span *ngIf="isUpdateLoading"translate><i class="fa fa-spinner fa-spin"></i> Updating...</span>
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss(false)" translate>Close</button>
</div>
