<div class="row">
  <div class="col-sm-12 center-elements">
    <h1><span translate>Welcome</span> {{currentUser.name}}</h1>
  </div>
</div>
<hr>
<div class="row" *ngIf="!isLoading">
  <div *ngIf="currentUser.role == 'ADMIN'" class="col-sm-2 box-card m-3 bg-success center-elements" translate>
    <div class="row center-elements">
      <i class="fa fa-coins fa-2x"></i>
    </div>
    Balance:
    <br>
    {{stats.company_balance}}$
  </div>
  <div class="col-sm-2 box-card m-3 center-elements bg-warning" translate>
    <div class="row center-elements">
      <i class="fa fa-users fa-2x"></i>
    </div>
    <br>
    <div class="row" translate>
      Clients:
      <br>
      {{stats.customers_count}}
    </div>
  </div>
  <div class="col-sm-2 box-card m-3 bg-info center-elements" translate>
    <div class="row center-elements">
      <i class="fa fa-money-check-alt fa-2x"></i>
    </div>
    Unpaid Invoice:
    <br>
    {{stats.unpaid_invoices_count}}
  </div>
  <div class="col-sm-2 box-card m-3 bg-lightgrey center-elements" translate>
    <div class="row center-elements">
      <i class="fa fa-hand-holding-usd fa-2x"></i>
    </div>
    Collected Today:
    <br>
    Invoices: {{stats.amount_collected_today}} {{currentUser.company.currencySymbol}}
    <br>
    Items: {{stats.items_amount_collected_today}} {{currentUser.company.currencySymbol}}
  </div>
  <div *ngIf="[UserRoles.ADMIN, UserRoles.MANAGER].includes(currentUser.role)"
    class="col-sm-2 box-card m-3 bg-success bg-gradient center-elements" translate>
    <div class="row center-elements">
      <i class="fa fa-money-bill fa-2x"></i>
    </div>
    Total Received By Employees:
    <br>
    {{stats.total_collected_by_employees}} {{currentUser.company.currencySymbol}}
    <br>
    <div>
      <i class="fa fa-list bg-white rounded p-2 m-2" aria-hidden="true" (click)="openListAmountsModal()"></i>
      <i class="fa fa-plus bg-white rounded p-2 m-2" aria-hidden="true" (click)="openAddAmountModal()"></i>
    </div>
  </div>
</div>
<div *ngIf="isLoading">Loading stats...</div>
