<app-loading-screen [hidden]="!isLoading"></app-loading-screen>
<div [hidden]="isLoading">
  <div *ngIf='!isAuthenticated'>
    <app-login></app-login>
  </div>
  <div class='dashboard' *ngIf="isAuthenticated">
    <app-navbar [ngClass]="{'hide-menu': !showMenu}"></app-navbar>
    <div class='dashboard-app' [ngStyle]="{'margin-left': !showMenu ? '-15vw': '0' }">
      <header class='dashboard-toolbar'>
        <div class="form-inline">
          <select class="form-control mx-2" #selectedLang (change)="switchLang(selectedLang.value)" style="
          width: 55px!important;
          background: #585f7261;
          border: 0;">
            <option *ngFor="let language of translate.getLangs()" [value]="language"
              [selected]="language === translate.currentLang">
              {{ language }}
            </option>
          </select>
        </div>
        <a routerLink="/company/profile" class="mx-2" style="font-size: 25px; color: currentColor;">
          <i class="fas fa-user-circle"></i>
        </a>
        <a href="#" (click)="logout()" class="mx-2" style="font-size: 25px; color: currentColor;"><i class="fas fa-sign-out-alt"></i>
        </a>
        <a (click)="toggleMenu()" class="menu-toggle">
          <i class="fas fa-bars"></i>
        </a>
      </header>
      <div class='dashboard-content' style="z-index: 1;">
        <div class='container bg-white p-4 rounded'>
          <app-alert></app-alert>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
