<div class="container">
  <div class="row">
    <div class="col-md-4 pull-right">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="card-title">
                <span class="text-muted">
                  <i class="fa fa-user"></i>
                </span>
                <span>
                  {{ user.name }}
                </span>
              </h4>
            </div>
            <div class="col-sm-12">
              <h4 class="card-title">
                <span class="text-muted">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
                <span>
                  {{ user.username }}
                </span>
              </h4>
            </div>

            <div class="col-sm-12">
              <h4 class="card-title">
                <span class="text-muted">
                  <i class="fa fa-phone"></i>
                </span>
                <span>
                  {{ user.phoneNumber? user.phoneNumber : 'No phone number'| translate}}
                </span>
              </h4>

            </div>

            <div class="col-sm-12">
              <h4 class="card-title">
                <span class="text-muted">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
                <span>
                  {{ user.email? user.email : 'No email'| translate}}
                </span>
              </h4>
            </div>

            <div class="col-sm-12">
              <h4 class="card-title">
                <span class="text-muted">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
                <span *ngIf="user.expiryDate">
                  {{ user.expiryDate | date: 'dd/MM/yyyy' }}
                  <small>{{'expiry' | translate}}</small>
                </span>
                <span *ngIf="!user.expiryDate">
                  {{'No expiry date' | translate}}
                </span>
              </h4>
            </div>

            <div class="col-sm-12">
              <h4 class="card-title">
                <span class="text-muted">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
                <span>
                  {{ user.created_at | date: 'dd/MM/yyyy' }}
                </span> <small>{{'created' | translate }}</small>

              </h4>
            </div>
            <div class="col-sm-6 center-elements">
              <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
                (click)="openChangePasswordModal()" translate>
                Change Password
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="center-elements">
        <div class="mb-3">
          <label for="formFile" class="form-label">Choose Excel File:
            <small class="btn btn-sm btn-secondary" style="font-size: 0.7rem!important;
            line-height: 1!important;
            border-radius: 1.2rem!important;">
              <a href="assets/files/importing-sample.xlsx" class="text-white" translate>
                download sample
              </a>
            </small>
          </label>
          <input
          type="file"
          name="file"
          id="file"
          formControlName="file"
          (change)="uploadImage($event)"
          class="form-control common-input px-3"
          required
          autofocus
          min="1"
        />
        </div>
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
          (click)="uploadExcel()" translate>
          Import Customers
        </button>
      </div>
    </div>
  </div>
</div>
