<div class="container p-0">
  <div class="row">
    <div class="col-md-offset-1 col-md-12 p-0">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <h3 class="title mt-2 ml-3">{{ title }}</h3>
            </div>
            <div class="col-sm-6 col-xs-6 text-right">
              <div class="btn-group">
                <button type="button" class="btn btn-default m-1" title="Search" (click)="openFilterModal()">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </button>
                <!-- <button type="button" class="btn btn-default m-1" title="Export to Pdf" (click)="downloadAsPDF()"><i
                    class="fa fa-file-pdf"></i></button> -->
                <button type="button" class="btn btn-default m-1" title="Export to Excel" (click)="downloadAsExcel()"><i
                    class="fas fa-file-excel"></i></button>
                <div *ngIf="showSearchByDate" class="row m-1">
                  <h6 class="title col">Choose month:</h6>
                  <input type="month" class="form-control col" id="month" name="month" [(ngModel)]="monthSearch" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive" style="overflow-x: auto; width: 0; min-width: 100%;">
          <table class="table table-striped" id="invoicesTable" #invoicesTable>
            <thead>
              <tr>
                <!-- <th translate>Id</th> -->
                <th translate>Client Name</th>
                <th translate>Address</th>
                <th translate>Collector</th>
                <th translate>Due Date</th>
                <th *ngIf="showPlans" translate>Plans</th>
                <th *ngIf="showItems" translate>Items</th>
                <th *ngIf="showFirstPayment" translate>First Payment?</th>
                <th translate>Payment Type</th>
                <th translate>Total</th>
                <th *ngIf="showIsPaid" translate>Is Paid</th>
                <th translate *ngIf="showPaidAt">Paid At</th>
                <th *ngIf="showActions" translate>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoice of invoices" [class.selectedRow]="rowIsSelected(invoice.id)"
                (click)="onRowClick(invoice.id)" style="cursor: pointer;">
                <!-- <td>{{invoice.id}}</td> -->
                <td>
                  <a href="company/customers/{{invoice.user.id}}" class="">
                    {{ invoice.user.name }}
                  </a>
                  <br>
                  <span style="color: grey; font-size: smaller;">{{ invoice.user.phoneNumber }}</span>
                </td>
                <td>{{ getAddressString(invoice.user.address) }}</td>
                <td>{{ invoice .isPaid ? invoice.collectedBy?.name : invoice.user.collector?.name }}</td>
                <td>{{ invoice.dueDate | date:'yyyy-MM-dd' }}</td>
                <td *ngIf="showPlans">
                  <span *ngFor="let plan of invoice.plans">
                    {{ plan.name }}
                  </span>
                </td>
                <td *ngIf="showItems">
                  <span *ngFor="let item of invoice.items">
                    {{ item.name }}
                  </span>
                </td>
                <td *ngIf="showFirstPayment">
                  <span *ngIf="invoice.isFirstPayment">Yes</span>
                  <span *ngIf="!invoice.isFirstPayment">No</span>
                </td>
                <td>
                  <span *ngIf="invoice.type == InvoiceType.PLANS_INVOICE && invoice.isFirstPayment">First Payment</span>
                  <span *ngIf="invoice.type == InvoiceType.PLANS_INVOICE && !invoice.isFirstPayment">Monthly
                    Invoice</span>
                  <span *ngIf="invoice.type == InvoiceType.ITEMS_INVOICE">Items Invoice</span>
                </td>
                <td>{{invoice.total}}</td>
                <td *ngIf="showIsPaid" [ngClass]="{'text-success': invoice.isPaid, 'text-danger': !invoice.isPaid}">
                  <span *ngIf="invoice.isPaid">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                  <span *ngIf="!invoice.isPaid">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                  {{invoice.isPaid}}
                </td>
                <td *ngIf="showPaidAt">{{ invoice.collected_at | date:'yyyy-MM-dd hh:mm' }}</td>
                <td *ngIf="showActions">
                  <ul class="action-list">
                    <li><a routerLink="/company/invoices/{{invoice.id}}" data-tip="show">
                        <i class="fa fa-eye" style="font-size: 21px!important;"></i></a>
                    </li>
                    <li
                      *ngIf="[UserRole.MANAGER, UserRole.SUPERVISOR, UserRole.COLLECTOR].includes(currentUser.role) && showCollectAction">
                      <a (click)="openCollectModal(invoice.id, invoice.user.name)" data-tip="collect">
                        <i class="fas fa-money-bill-alt" style="font-size: 21px!important;"></i></a>
                    </li>
                    <li *ngIf="[UserRole.ADMIN].includes(currentUser.role) && showForgiveAction">
                      <a (click)="openForgiveModal(invoice.id, invoice.user.name)" data-tip="forgive">
                        <i class="fas fa-hand-holding-usd" style="font-size: 21px!important;"></i>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="text-right mr-5">
            <div class="h5">Total: {{total}} {{currentUser.company.currencySymbol}}</div>
          </div>
        </div>

        <hr class="mx-5" style="border: 1px solid black;">

        <div class="panel-footer">
          <div class="row">
            <div class="row w-100">
              <div class="col-md-10">
                <ul class="pagination" style="overflow-x: auto;">
                  <li class="page-item" [ngClass]="{'active': i+1 == currentPage }"
                    *ngFor='let in of counter(totalPages);let i = index' (click)="submitDataRequest(i+1)">
                    <a href="javascript:void(0);" class="page-link">{{i+1}}</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-1">
                <select [(ngModel)]="take" class="" (change)="submitDataRequest(1)">
                  <option value="10">10</option>
                  <option value="30">30</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="300">300</option>
                  <option value="500">500</option>
                  <option value="1000">1000</option>
                </select>
              </div>
              <div class="col-md-3">
                Total: {{totalRecords}} <span translate>invoices</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
