<div *ngIf="!isLoading">
  <div class="modal-header">
    <h4 class="modal-title" translate>Update Plans</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row my-5">
      <div class="col-sm-12" translate>
        Plans:
        <ng-multiselect-dropdown [placeholder]="'Choose plans'" [settings]="dropdownSettings" [data]="dropdownList"
          [(ngModel)]="selectedPlans">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-12 p-0">
        <div *ngIf="selectedPlans.length > 0" class="m-3">
          <h4 translate>Fill Invoice:</h4>
          <div class="form-label-group" id="invoice-container">
            <label translate>Total amount paid:</label>
            <div id="range-div">
              <span id="rangeValue">{{data.invoice_total}}</span>
              <input class="range col-md-12" type="range" name="range" min="0" max="300" step="1"
                [(ngModel)]="data.invoice_total">
            </div>
            <div class="form-label-group m-4">
              <label translate>Additional Notes:</label>
              <input type="text" class="form-control required" required name="notes" [(ngModel)]="data.invoice_notes">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="update()" [disabled]="isUpdateLoading">
        <span *ngIf="!isUpdateLoading" translate>Update</span>
        <span *ngIf="isUpdateLoading"><i class="fa fa-spinner fa-spin"></i> Updating...</span>
      </button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss(false)" translate>Close</button>
    </div>
  </div>
  <div *ngIf="isLoading" class="modal-body">
    <div class="row">
      <div class="col-sm-12 m-5">
        <i class="fa fa-spinner" aria-hidden="true"></i>
      </div>
    </div>
  </div>
